  <div class="user_card">
    <img class="picture border" src=<%= user.photo %>>
    <div class="user_name border">
      <h2><%= user.name%></h2>
      <p>
      <button><%= link_to "Add posts", new_post_path(user_id: user.id) %></button>
      Number of posts: <%= user.posts_counter %>
      </p>
    </div>
  </div>
