  <div class="user_card">
    <img class="picture border" src=<%= user.photo %>>
    <div class="user_name border">
      <h2><%= user.name%></h2>
      <p>
      <%= link_to "Number of posts: #{user.posts_counter}", new_post_path(user_id: user.id) %>
      </p>
    </div>
  </div>
