<div class="post_card border">
  <h3>Post # <%= i+1 %></h3>
  <p class="text"><%= post.text %></p>
  <p class="comments">
    Comments: <%= post.comments_counter %>
    Likes: <%= post.likes_counter %>
  </p>
</div>
